---
version: '3.8'
services:
  database:
    image: "postgres:13.6"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sample_go
    ports:
      - 5432:5432
    volumes:
      - ./infra/dev/db-setup:/docker-entrypoint-initdb.d/:z
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
